# backend
backend/bin/
backend/obj/
backend/drdo_hr.db
backend/drdo_hr.db-shm
backend/drdo_hr.db-wal
backend/wwwroot/uploads/*
!backend/wwwroot/uploads/.gitkeep

# frontend
frontend/node_modules/
frontend/dist/

# misc
.DS_Store
*.log
frontend-backup/
